#headLine {
    text-align: center;
}
#tableWrapper {
    text-align: center;
}
#tableWrapper table {
    margin: 10px;
}
.tableClass {
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
}

.unverifiedSpan {
    color: red;
}

.verifiedSpan {
    color: green;
}